* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background: #363853;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 10vw 10vh 5vw;
}

.logo, .contato {
    margin: 1% 0 0;
    padding: 1px;
}

main {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.criptografia {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 0 1vw 7vw;
    position: relative;
    top: -16vh;
}

.texto {
    resize: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding-top: 8px;
    border-radius: 25px;
}

.texto-resultado {
    resize: none;
    font-size: 25px;
    color: darkblue;
    padding: 10px;
    border-radius: 25px;
}

.texto::placeholder {
    color: rgba(255, 255, 255, 0.918);
}

.texto {
    background: #363853;
    border-style: none; 
    width: 80%;
    height: 70vh;
    margin: 0 0 0 6vw;
}

#aviso {
    display: flex;
    margin-bottom: 3%;
    gap: 5px;
    justify-content: flex-start;
    color: rgb(238, 238, 238);
}

.btn-criptografia {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1vh;
    gap: 5vw;
}

.btn {
    width: 11.5rem;
    height: 3.12rem;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 25px;
    color: darkblue;
    font-weight: bold;
    background: #E5E5E5;
    border: 1.5px solid darkblue;
    transition: 0.3s;
}

.btn__limpar {
    width: 11.5rem;
    height: 3.12rem;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 25px;
    color: darkblue;
    font-weight: bold;
    background: #E5E5E5;
    border: 1.5px solid darkblue;
    transition: 0.3s;
    position: relative; bottom: 130px; right: 0px;
}

.btn:hover, .btn__limpar:hover {
    width: 200px;
    height: 50px;
    font-size: 19.5px;
    padding: 5px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    background: #2b2d44;
    border-color: darkblue;
    cursor: pointer;
}

.resultado {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 36%;
    position: relative;
    top: -2vh;
}

.texto-resultado::placeholder {
    height: 80vh;
    background: url(/Assets/menino.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20vw;
    color: darkblue;
    text-align: center;
}

.texto-resultado {
    background: white;
    border-color: darkblue;
    width: 75%;
    height: 84vh;
    box-shadow: 0 24px 32px 8px rgba(31, 28, 75, 0.2);
}

#copiar {
    position: relative; bottom: 145px; right: 0px;
}

footer {
    margin: 40px 0;
}

footer p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 1%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.aviso-pulsante {
    animation: pulse 0.5s infinite; 
}

.rodape__link {
    color: white;
    font-style: oblique;
}

@media screen and (max-width: 900px) {
    body {
        width: auto;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .criptografia {
        width: 100%;
        position: static;
        margin: 0;
    }

    .resultado {
        width: 100%;
    }

    #aviso {
        align-items: center;
        margin-left: 3vw;
    }

    .btn, .btn:hover {
        width: 169px;
    }

    #limpar, #limpar:hover {
        position: relative;
        width: 169px;
        bottom: 32px;
        right: -92px;
        font-size: 16px;
    }

    .btn-criptografia {
        margin-bottom: 5vh;
        font-size: 16px;
    }
    .texto, .texto-resultado {
        padding-top: 1%;
        width: 85%;
        height: 31vh;
        margin: 0;
    }
    .texto-resultado::placeholder {
        height: 60vh;
        font-size: 20px;
        background: url(/Assets/Menino\ com\ lupa.svg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 60px;
        background-size: 50vw;
        color: darkblue;
        text-align: center;
    }

    #copiar {
        bottom: 8vh;
        position: relative;
        bottom: -18px;
        right: 85px;
    }
}